<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeekDay Warrior</title>
</head>
<body>
    <h1>Hey, Its a <%= dayType %>, you are a <%= advice %> warrior!</h1>
</body>
</html>